In [1]:
x = (1,2,44,55)

for y in x:
    print(y)

1
2
44
55

In [2]:
for x in range(6):
    print(x, end = "")

012345

Nested Loops

In [3]:
for x in range(3):
    for d in range(6):
        print([x,d])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[0, 5]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]
[1, 5]
[2, 0]
[2, 1]
[2, 2]
[2, 3]
[2, 4]
[2, 5]

In [4]:
prods = ['Watch', 'PC']
sales = [1000,2000,3000,4000]

for i in prods:

    for u in sales:
        print([i,u])

['Watch', 1000]
['Watch', 2000]
['Watch', 3000]
['Watch', 4000]
['PC', 1000]
['PC', 2000]
['PC', 3000]
['PC', 4000]

Triple Nested loops

In [5]:
prods = ['Watch', 'PC']
sales = [1000,2000,3000,4000]
sizes = (12,4)

for prod in prods:
    for sale in sales:
        for size in sizes:
            print([prod, sale*size])

['Watch', 12000]
['Watch', 4000]
['Watch', 24000]
['Watch', 8000]
['Watch', 36000]
['Watch', 12000]
['Watch', 48000]
['Watch', 16000]
['PC', 12000]
['PC', 4000]
['PC', 24000]
['PC', 8000]
['PC', 36000]
['PC', 12000]
['PC', 48000]
['PC', 16000]

List Comprehensions

In [6]:
nums = [2,4,5]

In [7]:
new = []

for i in nums:
    new.append(i*2)
    print(new)

[4]
[4, 8]
[4, 8, 10]

### List Comprehn...

In [8]:
x = [10,20,30]
x_com = [j *2 for j in x]
x_com

[20, 40, 60]

In [9]:
nn = [[m+z for m in range(5)] for z in range(3)]
print(nn)

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6]]

In [19]:
### Lists with conditions
con = [ d **2 if d% 2 != 0 else "Even Num"for d in range(1,6)  ]
con

[1, 'Even Num', 9, 'Even Num', 25]