In [1]:
import pandas as pd

In [2]:
### Pandas Series
A = ['Q','W','E']

B = pd.Series(A)
B

0    Q
1    W
2    E
dtype: object

In [3]:
ser = pd.Series([11,23,5,5])
ser

0    11
1    23
2     5
3     5
dtype: int64

In [4]:
### Methods // Series
ser
ser.sum()

44

In [5]:
ser.idxmin()
## index with min value

2

In [6]:
ser.head(n=2)
### u can just write 2

0    11
1    23
dtype: int64

In [7]:
ser.unique()

array([11, 23,  5], dtype=int64)

In [8]:
ser.nunique()

3

In [9]:
#### Sorting

ser.sort_values(ascending=False)

1    23
0    11
2     5
3     5
dtype: int64

DataFrames

In [10]:
RAW = {'Con.': ['A','B','C','D','E'], 'Pop.':[11,33,666,77,888]}

In [11]:
data = pd.DataFrame(RAW)
data.head(n=2)

  Con.  Pop.
0    A    11
1    B    33

#### Attributes in DataFrames

In [12]:
data.axes

[RangeIndex(start=0, stop=5, step=1), Index(['Con.', 'Pop.'], dtype='object')]

In [13]:
data.dtypes

Con.    object
Pop.     int64
dtype: object

In [14]:
data.values

array([['A', 11],
       ['B', 33],
       ['C', 666],
       ['D', 77],
       ['E', 888]], dtype=object)

In [15]:
data.columns

Index(['Con.', 'Pop.'], dtype='object')

In [16]:
len(data.columns)
data.shape

(5, 2)

#### Indexing and Choosing Data

In [17]:
data['Pop.']

0     11
1     33
2    666
3     77
4    888
Name: Pop., dtype: int64

In [18]:
data[['Pop.']]

   Pop.
0    11
1    33
2   666
3    77
4   888

In [19]:
data[['Pop.']].head(n=2)

   Pop.
0    11
1    33

### Loc and Iloc indexers

In [20]:
data.head()

  Con.  Pop.
0    A    11
1    B    33
2    C   666
3    D    77
4    E   888

In [25]:
### iloc == integr locater 

## row indexer
data.iloc[1]

Con.     B
Pop.    33
Name: 1, dtype: object

In [26]:
### row and column 
data.iloc[0,1]

11

In [27]:
### a wholw row 
data.iloc[1,:]

Con.     B
Pop.    33
Name: 1, dtype: object

In [29]:
data.iloc[:,1]
### a whole column

0     11
1     33
2    666
3     77
4    888
Name: Pop., dtype: int64

In [45]:
### loc accesser

data.loc[:,'Pop.']

0     11
1     33
2    666
3     77
4    888
Name: Pop., dtype: int64